h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0px;
}

.labels-box {
  font-size: 0.625rem;
  letter-spacing: 0.15em;
  text-transform: uppercase;

  .yellow-text {
    color: #cfa75d;
  }
}

.swiper-slide {
  height: auto !important;
}

.read-more-box {
  font-size: 0.875rem;
}

.role {
  display: inline-block;
  vertical-align: middle;
  width: 36px;
  height: 36px;
  fill: rgb(208, 168, 92);
}

.linha-vertical {
  height: 75%;
  width: 1px;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: content-box;
}

.fieldset-content {
  margin-top: -10px;
  position: relative;
}

.left-box-decoration {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.scroll-indicator {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, 0px);
  stroke: rgb(57, 64, 72);
}

.content-container::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  width: 100vw;
  background-color: black;
  z-index: 1000;
}

.content-container {
  border-top: 80px solid black;
}

a {
  color: white !important;
}
